# Auto detect text files and perform LF normalization
*		text eol=lf

# Git files
.gitattributes	text
.gitignore	text
.gitmodules	text

# CMake files
CMakeFiles.txt	diff=cmake
*.cmake		diff=cmake
*.h.in		diff=c
*.pc.in		diff=bash

# Source code
*.hpp		diff=cpp
*.cpp		diff=cpp
*.h		diff=c
*.c		diff=c
*.rc		diff=c
*.lua		diff=lua

# Documentations
*.md		text
*.txt		text
*.html		diff=html
*.css		diff=css
*.js		diff=js
*.pc		diff=bash

# Images
*.png		binary
